---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: {
      id: post.id,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
---

<Layout>
  <div class="max-w-xl mx-auto">
    <div class="mb-2">
      <a class="transition hover:text-fuchsia-500" href="/">← Homepage</a>
    </div>
    <h1 class="mb-5 text-3xl font-bold">{post.data.title}</h1>
    <img
      src={post.data.image}
      alt={post.data.title}
      class="w-full h-80 mb-5 object-cover"
    />
    <div class="prose lg:prose-xl" set:html={post.data.body} />
  </div>
</Layout>
