---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const localPosts = await getCollection("localPosts");
const remotePosts = await getCollection("remotePosts");
---

<Layout>
  <div class="flex justify-center gap-10">
    <div class="w-3xs">
      <h2 class="font-bold text-2xl mb-5">Local posts</h2>

      <ul>
        {
          localPosts.map((post) => (
            <li class="mb-3 transition hover:text-fuchsia-500">
              <a href={`/local-post/${post.id}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="w-3xs">
      <h2 class="font-bold text-2xl mb-5">Remote posts</h2>

      <ul>
        {
          remotePosts.map((post) => (
            <li class="mb-3 transition hover:text-fuchsia-500">
              <a href={`/remote-post/${post.id}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
