---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout>
  <div>
    <h2 class="font-bold text-2xl mb-5 text-center">My Astro blog</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 max-w-4xl mx-auto">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
  </div>
</Layout>
