---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const localPosts = await getCollection("remotePosts");

  return localPosts.map((post) => ({
    params: {
      id: post.id,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
---

<Layout>
  <div class="flex justify-center">
    <div class="w-md">
      <h1 class="mb-5 text-3xl font-bold">{post.data.title}</h1>
      <p>{post.data.body}</p>
    </div>
  </div>
</Layout>
